@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-image: linear-gradient(to right, #ffffff, #ffe4a0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  height: 500px;
  width: 500px;
  background-color: #0f2661;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 10px;
  height: 450px;
  width: 450px;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 20px;
  text-align: center;
}

/*
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
*/

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.die {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.roll-btn {
  background-color: #0084ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
}

.roll-btn:active {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}